* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto';
}

header {
    position: absolute;
    top: 0;
    width: 98%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-weight: 700;
}

.main {
    height: 100vh;

    background-color: #E0E8FF;

    display:flex;
    flex-direction: row;
}

.container {
    width: 50vh;
    height: 75vh;

    margin: auto;

    padding: 35px;

    background-color: white;
    border-radius: 33px;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.14);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}

.title {
    color: black;

    font-size: 36px;
}

.button-col-list {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.button {
    width: 100%;
    height: 73px;

    background: #382AE1;
    box-shadow: 0px 9px 12px -5px rgba(56, 42, 225, 0.31);
    border-radius: 18px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;

    color: white;

    margin-top: 5px;
    margin-bottom: 5px;
}

.button.delete {
    margin-right: 20px;
    width: 40px;
    height: 40px;

    background: #b14848;
    border-radius: 5px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: white;
}

.button:hover {
    cursor: pointer;
}

.button.primary {
    background: #382AE1;
}

.button.secondary {
    background: #5BA3D7;
}

.button.primary.disabled {
    background: #392ae162;
    cursor: default;
}

.text-button {
    padding-top: 15px;
    padding-bottom: 15px;

    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 18px;
    color: gray;
    text-decoration: underline;

    text-align: center;
}

.text-button:hover {
    cursor: pointer;
}

/* side bar */

.left-container {
    left: 0;
    background-color: white;
    height: 100vh;
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-container {
    display: flex;
    height: 100vh;
    width: 64%;
}

.side-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 5%;
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin-top: 40px;
}

.side-menu h1 {
    text-align: center;
    margin-bottom: 26px;
}

.group-list {
    width: 100%;
    height: 340px;

    background: #F5F7FF;
    border-radius: 26px 0px 0px 26px;

    overflow-y: scroll;
}

.group-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    border-bottom: 1px solid #DADDE8;
}

.group-item:hover {
    cursor:pointer;
    background: #bcbdc4;
}

.group-item.selected {
    background: #bcbdc4;
}

.group-name {
    margin-left: 20px;
}

.side-menu .button-col-list {
    margin-top: 20px;
}



/* Authentification */

.auth-form label {
    margin-top: 15px;
}

.auth-input {
    margin-bottom: 15px;
    margin-top: 5px;
    height: 25px;
    width: 100%;

    border-radius: 10px;
    border: 1px solid gray;
}

.log-error {
    margin-bottom: 10px;
    color: red;
    font-size: 15px;
}

/* Tasks */

.task-list {
    height: 472px;
    width: 100%;
    background: #F5F7FF;
    border-radius: 26px 0px 0px 26px;

    overflow-y: scroll;
}

.task-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    border-bottom: 1px solid #DADDE8;
}

.task-item *:first-child {
    margin-left: 20px;
}

.task-item *:last-child {
    margin-right: 20px;
}

.task-state {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.task-state.todo {
    color: #C75E5E;
}

.task-state.done {
    color: #5EC763;
}

.task-item:last-child {
    border: none;
}